<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sala de Operações</title>
	
	<!-- Bootstrap CSS -->
	<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
		
	<!-- JQuery -->		
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

<style type="text/css">
	.modalMenu {
		width: 300px;
	}
	.titulo {
		width: 100%;
		position: absolute;
		text-align: center;
	}
	.modal-content-Menu {
		width: 300px;
	}
	.list-group-item:hover {
		background-color: rgb(59, 57, 57, 0.164)!important;
	}
	a#navbarDropdown {
		color: black;
	}
	.nav-item{
		padding: 0px;
	}
	.img-truck {
		align-self: center;
	}
	.card {
		margin: 50px 0px 25px 50px;
	}
	.negrito {
		font-weight: bold;
	}
</style>

<script type="text/javascript">

$(function(){
	
	var larguraTela = $(window).width();
	
	$("#imagem-logo").width(larguraTela / 10);
	$("#imagem-logo").height(larguraTela / 10);
	
	carregarSaidas();
	
});

</script>

</head>
<body>



<nav class="navbar navbar-light bg-light shadow sticky-top">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#modalMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  </div>
</nav>
<img class="position-fixed top-0 end-0 sticky-top" id="imagem-logo" alt="" src="imagens/brasao.png" />



<!-- Modal MENU-->
	<div class="modal modalMenu fade" id="modalMenu" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-fullscreen">
			<div class="modal-content modal-content-Menu">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Menu</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<ul class="list-group list-group-flush">
						<li class="list-group-item">Inicío</li>
						
						<li class="list-group-item nav-item dropdown">
							
							<a class="nav-link dropdown-toggle"
							href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">Cadastro</a>
							
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="/Sala-Operacoes/cadastroefetivo">Efetivo</a></li>
								<li><a class="dropdown-item" href="/Sala-Operacoes/cadastroviaturas">Viaturas</a></li>
								<li><a class="dropdown-item" href="/Sala-Operacoes/cadastrotelefones">Telefones</a></li>
								<li><a class="dropdown-item" href="/Sala-Operacoes/cadastrosaida">Saídas</a></li>
							</ul>
						</li>
						
						<li class="list-group-item">
							<a href="/Sala-Operacoes/viaturas" style="text-decoration:none;color:black;">
								Viaturas
							</a>
						</li>
						<li class="list-group-item">
							<a href="/Sala-Operacoes/telefones" style="text-decoration:none;color:black;">
								Telefones
							</a>
						</li>
					</ul>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

<br>
<div class="titulo"><h3>Viaturas Empenhadas</h3></div>
<br>

<div class="row" id="cardsTelaPrincipal">

	
</div>


<!-- Modal DETALHES -->

<div class="modal fade" id="detalhesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalhes do Empenho</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
      
        <div class="row">
	        <div class="mb-2 col-4">
	        	<label style="margin-right:15px;font-weight:bold;">Viatura:</label> 
	        </div>
        	<div class="mb-2 col-8">
        		<label id="modalViatura"></label>
        	</div>
        </div>
        <hr class="dropdown-divider">
        
        <div class="row">
	        <div class="mb-2 col-4">
        		<label style="margin-right:15px;font-weight:bold;">Motorista: </label>
        	</div>
	        <div class="mb-2 col-8">
        		<label id="modalMotorista"></label>
        	</div>
        </div>
        <hr class="dropdown-divider">
        
        <div class="row">
	        <div class="mb-2 col-4">
        		<label style="margin-right:15px;font-weight:bold;">Destino: </label>
        	</div>
	        <div class="mb-2 col-8">	
        		<label id="modalDestino"></label>
        	</div>
        </div>		
        <hr class="dropdown-divider">

		<div class="row">
	        <div class="mb-2 col-4">        
        		<label style="margin-right:15px;font-weight:bold;">Data da Saída: </label>
        	</div>
	        <div class="mb-2 col-8">
        		<label id="modalDataSaida"></label>
			</div>
		</div>		        		
        <hr class="dropdown-divider">
        
        <div class="row" style="margin-bottom:30px;">
	        <div class="mb-2 col-4">
        		<label style="margin-right:15px;font-weight:bold;">Hora da Saída: </label>
        	</div>
	        <div class="mb-2 col-8">	
        		<label id="modalHoraSaida"></label>
        	</div>
        </div>		
        
        <label style="margin-right:15px;font-weight:bold;">Observação:</label>
        <textarea style="width:100%;height:150px;" id="modalObservacao" class="form-control"></textarea>
      
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- FIM Modal DETALHES -->




<!-- Modal EDIÇÃO -->
<div class="modal fade" id="edicaoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Empenho</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
      <form method="post" id="formularioEdicao">
        <div class="row">
	    	<div class="mb-3 col-4" hidden="true">
		    	<label for="idEdicao" class="form-label">Id</label>
		    	<input type="text" class="form-control" id="idEdicao" name="idEdicao" readonly="readonly">
		    	<input type="text" class="form-control" id="viaturaEdicao" name="viaturaEdicao" readonly="readonly">
		    	<input type="date" class="form-control" id="dataSaidaEdicao" name="dataSaidaEdicao" readonly="readonly">
		    	<input type="time" class="form-control" id="horaSaidaEdicao" name="horaSaidaEdicao" readonly="readonly">
		    	<input type="text" class="form-control" id="destinoEdicao" name="destinoEdicao" readonly="readonly">
		    	<input type="text" class="form-control" id="motoristaEdicao" name="motoristaEdicao" readonly="readonly">
		    	<input type="text" class="form-control" id="prefixoEdicao" name="prefixoEdicao" readonly="readonly">
		    </div>
		    <div class="mb-3 col">
		  		<label for="dataChegadaEdicao" class="form-label">Data Chegada</label>
		    	<input type="date" id="dataChegadaEdicao" name="dataChegadaEdicao" class="form-control" />
		    </div>  
		    <div class="mb-3 col">
		  		<label for="horaChegadaEdicao" class="form-label">Hora Chegada</label>
		    	<input type="time" id="horaChegadaEdicao" name="horaChegadaEdicao" class="form-control" />
		  	</div> 
        </div>
                
    	    <label for="observacaoEdicao" style="margin-right:15px;font-weight:bold;">Observação:</label>
	        <textarea style="width:100%;height:200px;" id="observacaoEdicao" class="form-control"></textarea>

	      <div class="modal-footer">
	        <input type="submit" class="btn btn-primary" onclick="editarSaida()" value="Salvar"/>
	      </div>
      </form>
    </div>
    </div>
  </div>
</div>

<!-- FIM Modal EDIÇÃO -->


<script type="text/javascript">

observGlb = '';

function carregarSaidas() {
	
	$.ajax({
		method : "GET",
		url : "listaTodasSaidas",
		contentType : "application/json; charset=utf-8",
		success : function(response) {

		for (var i = 0; i < response.length; i++) {
								
			if (response[i].dataChegada === '' && response[i].horaChegada === '' ) {
			 
				$('#cardsTelaPrincipal').append(
				'<div class="card bg-light shadow" style="width: 20%;">'+
				'<img id="img'+i+'" src="" class="card-img-top img-truck" alt="..." style="width:50%;height:50%;" />'
				+'<div class="card-body">'+
				'<h5 class="card-title">'+response[i].viatura+'</h5>'+
				'<p class="card-text negrito">'+response[i].destino+'</p>'
				+'</div>'+
				'<ul class="list-group list-group-flush">'+
				'<li class="list-group-item bg-light">'+response[i].motorista+'</li>'+
				'<li id="data'+i+'" class="list-group-item bg-light">'+response[i].dataSaida+'</li>'+
				'<li class="list-group-item bg-light">'+response[i].horaSaida+'</li>'
				+'</ul>'+
				'<div class="card-body">'+
				'<a href="javascript:abrirModalEdicao(\''+response[i].id+'\',\''+response[i].viatura+'\',\''+response[i].motorista+'\',\''+response[i].destino+'\',\''+response[i].dataSaida+'\',\''+response[i].horaSaida+'\',\''+response[i].observacao+'\',\''+response[i].prefixo+'\')" class="card-link">Editar</a>'+
				'<a href="javascript:abrirModalDetalhes(\''+response[i].viatura+'\',\''+response[i].motorista+'\',\''+response[i].destino+'\',\''+response[i].dataSaida+'\',\''+response[i].horaSaida+'\',\''+response[i].observacao+'\');" class="card-link" style="float: right;">Detalhes</a>'
				+'</div>'
				+'</div>'
				);
			
				/* @{/enviarsaidaeditar/{idsaida}(idsaida=${\''+response[i].id+'\'})} */
				/* javascript:colocarEmEdicao(\''+response[i].id+'\') */
				/* data-bs-toggle="modal" data-bs-target="#detalhesModal"  */
				
				if (response[i].viatura.includes("ABT")) {
					$("#img"+i).attr("src", "imagens/firetruck.png");
				} else if (response[i].viatura.includes("ATP")) {
					$("#img"+i).attr("src", "imagens/car.png");
				} else if (response[i].viatura.includes("AT")) {
					$("#img"+i).attr("src", "imagens/at.png");
				} else if (response[i].viatura.includes("AEM")) {
					$("#img"+i).attr("src", "imagens/magirus.png");
				} else if (response[i].viatura.includes("AGA")) {
					$("#img"+i).attr("src", "imagens/muck.png");
				} else if (response[i].viatura.includes("AR")) {
					$("#img"+i).attr("src", "imagens/resgate.png");
				} else if (response[i].viatura.includes("EIN")) {
					$("#img"+i).attr("src", "imagens/boat.png");
				}
				
				var dataArray = response[i].dataSaida.split("-"); // 2022-04-21 0 1 2
				var data = dataArray[2] +"/"+ dataArray[1] +"/"+ dataArray[0];
				/* var data = new Date(response[i].dataSaida).toLocaleDateString("pt-BR");*/
				$("#data"+i).text(data); 
				
				
			}
		}

		}
		}).fail(
			function(xhr, status, errorThrown) {
				alert("Erro ao pesquisar Saídas " + xhr.responseText)
		});
	
}

function editarSaida() {
	
    var id = $("#idEdicao").val();
    var viatura = $("#viaturaEdicao").val();
    var dataSaida = $("#dataSaidaEdicao").val();
    var datachegada = $("#dataChegadaEdicao").val();
    var horaSaida = $("#horaSaidaEdicao").val();
    var horachegada = $("#horaChegadaEdicao").val();
    var destino = $("#destinoEdicao").val();
    var motorista = $("#motoristaEdicao").val();
    var observacao = $("#observacaoEdicao").val();
    var prefixo = $("#prefixoEdicao").val();
    
    if(datachegada === '' && horachegada === '' && observacao === observGlb){
    	/* alert("Não alterou"); */
    } else {
    	
		$.ajax({
			method : "POST",
			url : "atualizar",
			data : JSON.stringify({
				id : id,
				viatura : viatura,
				prefixo : prefixo,
				dataSaida : dataSaida,
				dataChegada : datachegada,
				horaSaida : horaSaida,
				horaChegada : horachegada,
				destino : destino,
				motorista : motorista,
				observacao : observacao
			}),
			contentType : "application/json; charset=utf-8",
			success : function(response) {
				alert("Saída atualizada com sucesso!");
				location.reload(true);
			}
		}).fail(function(xhr, status, errorThrown) {
			alert("Erro ao atualizar Saída " + xhr.responseText)
		});
	
    }
	
}

function abrirModalEdicao(idsaida, vtr, motorista, destino, dataSaida, horaSaida, obs, prefixo) {

	observGlb = obs;
	$("#edicaoModal").modal('show'); 
	$("#idEdicao").val(idsaida);
    $("#observacaoEdicao").val(obs);
	$("#viaturaEdicao").val(vtr);
    $("#dataSaidaEdicao").val(dataSaida);
    $("#horaSaidaEdicao").val(horaSaida);
    $("#destinoEdicao").val(destino);
    $("#motoristaEdicao").val(motorista);
    $("#prefixoEdicao").val(prefixo);
    
}

function abrirModalDetalhes(vtr, motorista, destino, dataSaida, horaSaida, observacao) {
	
	$("#detalhesModal").modal('show');
	$("#modalViatura").text(vtr);
	$("#modalMotorista").text(motorista);
	$("#modalDestino").text(destino);
	$("#modalDataSaida").text(dataSaida);
	$("#modalHoraSaida").text(horaSaida);
	$("#modalObservacao").text(observacao);
}

</script>
</body>
</html>